/* the styles for the elements */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Clearfix */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

html {
	height: 100%;
	background-image: url("../images/backgroundimg.jpeg");
}

body {
	position: relative;
	background: black;
	font-family: 'Antonio', sans-serif;
	font-size: 100%;
	min-height: 100%;
	margin: 0 auto;
	box-shadow: -5px -5px 15px 5px gray;
	border-radius: 10px;
}
h1 {
	margin: .5em .75em;
	font-size: 300%;
	text-align: center;
	font-variant: small-caps;
}

/* the styles for links */
a:link, a:visited {
	text-decoration: none;
}
a:focus, a:hover {
	text-decoration: underline;
}


/* the styles for the header */
header img {
	padding: 1em;
	float: left;
	max-width: 300px;
	width: 100%;
}
header h2 {
	font-size: 600%;
	float: center;
	font-variant: small-caps;
	text-shadow: 2px 2px white;
	color: #29cad6;
	padding-right: 3px;
	padding-top: 40px;
}
header h2 a {
	text-decoration: none !important;
	color: #29cad6;
}
header h3 {
	font-size: 200%;
	padding: .25em 0 .25em 0;
}


/* text shadow class */
.shadow {
	color: #29cad6;
	text-shadow: 2px 2px 4px #000000;
}


/* the styles for the navigation menu */
#nav_menu {
	clear: both;
}
#nav_menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
}
#nav_menu ul li {
	float: left;
	width: 33.32%;
}
#nav_menu ul li a {
	display: block;
	text-align: center;
	padding: 1em 0;
	text-decoration: none;
	font-variant: small-caps;
	font-size: 120%;
	background-color: #29cad6;
	color: white;
	font-weight: bold;
}
#nav_menu a:hover {
	background-color: #29cad6;
	color: black;
}
#nav_menu ul ul {
	display: none;
	position: absolute;
	top: 100%;
	width: 100%;
}
#nav_menu ul ul li a {
	text-align: left;
	padding: .5em;

}
#nav_menu ul ul li {
	float: none;

}
#nav_menu ul li:hover > ul {
	display: block;
}
#nav_menu > ul::after {
	content: "";
	clear: both;
	display: block;
}



/* the styles for the main content */
main {
	clear: left;
}
h2 {
	font-variant: small-caps;
	color: black;
	text-shadow: 2px 2px #29cad6;
}


/* the styles for the section */
section {
	width: 70%;
	float: right;
	padding: 0 2.5% 20px 2.5%;
	margin-bottom: 20px;
}
section p {
	font: 110%;
	line-height: 2;
}


/* the styles for the aside */
aside {
	width: 25%;
	float: right;
	background-color: lightyellow;
	border-radius: 5px;
	box-shadow: 3px 3px 7px gray;
	margin: 0 .5em 20px 1em;
	padding: .75em;
	font-weight: bold;
}
aside p {
	padding-bottom: 1.5em;
}

#bottombuffer {
	height: 100px;
	padding-bottom: 100px;
}

/* the styles for the footer */
footer {
	background-color: black;
	clear: both;
	border-top: 3px solid #000000;
	width: 100%;
	border-radius: 0 0 10px 10px;
	border-top: 4px solid #29cad6;

}
footer p {
	text-align: center;
	color: white;
	font-size: 90%;
	font-variant: small-caps;
	font-weight: bold;
	padding: 2em 0;
}

/* flexbox */
.row {
	display: -ms-flexbox; /* IE10 */
	display: flex;
	-ms-flex-wrap: wrap; /* IE10 */
	flex-wrap: wrap;
    padding: 0 4px;
}
.column {
	-ms-flex: 25%; /* IE10 */
	flex: 25%;
	max-width: 25%;
    padding: 0 4px;
    padding-bottom: 1em;
}
.column img {
	margin-top: 8px;
	vertical-align: middle;
	width: 100%;
	border-radius: 15px;
    border: 5px solid #29cad6;
}


/* scroll to top button */
#myBtn {
	display: none; /* Hidden by default */
	width: 88%;
	z-index: 99; /* Make sure it does not overlap */
	border: 1px solid #808080;
	outline: none; /* Remove outline */
	background-color: #404040; /* Set a background color */
	color: white; /* Text color */
	font-weight: bold;
	cursor: pointer; /* Add a mouse pointer on hover */
	padding: .5em .5em;
	margin: 0 1em 3px 0;
	text-align: left;
	transition: all .5s;
	font-family: 'Nova Square', cursive;
	font-size: 100%;
	border-radius: 5px;
}
#myBtn:hover {
	background-color: black;
	color: #29cad6;
	margin: 0 0 3px 1em;
	border: 1px solid #29cad6;
}
#cornerBtn {
	display: none; /* Hidden by default */
	position: fixed;
	left: 5px;
	bottom: 150px;
	z-index: 99; /* Make sure it does not overlap */
	border: 1px solid black;
	outline: none; /* Remove outline */
	font-weight: bold;
	cursor: pointer; /* Add a mouse pointer on hover */
	padding: .5em .5em;
	margin: 0 1em 3px 0;
	font-family: 'Antonio', sans-serif;
	font-size: 100%;
	border-radius: 5px;
	background-color: rgba(0,0,0,.6);
	color: white;
	transition: all .5s;
}
#cornerBtn:hover {
	background-color: rgba(0,0,0,1);
	color: #29cad6;
	border: 1px solid #29cad6;
}


/* hide the slicknav in large-screen view */
.slicknav_menu {
	display: none;
}



/* tablet portrait to standard 960 */
@media only screen and (max-width: 959px) {
	body, aside {
		box-shadow: none;
		border-radius: 0;
	}
	footer {
		border-radius: 0;
	}
	.column {
		flex: 33.3%;
		max-width: 33.3%;
	}
}



/* mobile landscape to tablet portrait */
@media only screen and (max-width: 767px) {
	
	header img { 
		float: none; 
		padding: 0;
		margin: 0 auto;
	}
	header { text-align: center; }
	header h2, header h3 {
		padding: 0 0 .25em;
		font-size: 175%;
	}
	h1 {
		font-size: 200%;
	}
	section, aside {
		float: none;
		width: 99%;
		margin: 0 auto;
		padding: .5em;
	}

	/* hide the navigation menu */
	#nav_menu {
		display: none;
	}
	
	/* and replace it with the slicknav menu */
	.slicknav_menu {
		display: block;
		text-align: left !important;
		background-color: #29cad6 !important;
	}
	.twocol {
		font-size: 80%;
		column-count: 1;
	}
	
	/*  Gallery page - reset to 2 columns  */
	.column {
		flex: 50%;
		max-width: 50%;
		padding: 0;
	}
	.row {
		padding: 0;
	}
	.column img {
		border: none;
		border-radius: none;
		padding: 5px;
	}
}



/* mobile portrait to mobile landscape */
@media only screen and (max-width: 479px) {
	body { font-size: 90%; }

	.column {
		flex: 100%;
		max-width: 100%;
	}
	.column img {
		border: 0;
		border-radius: 0;
	}
}

